<div class="jumbotron">
<h1>Welcome to Flip.ie</h1>
<p>The easiest way to buy and sell iPhones</p>
<%= link_to "iPhones", iphones_path, class: "btn btn-primary btn-block" %>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-block" %>
</div>
